<h1>Contacts</h1>

<form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" [(ngModel)]="name" name="name" aria-label="Search"> 
  </form>


  <div [@listStagger]='itemsLength'>
      <div class="card-columns ">

          <div [@listStagger]='itemsLength' *ngFor="let contact of contacts$ | async | filter:name " class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header text-center" [routerLink]="['/contact-details', contact.id]">{{contact.name}}</div>
            <div class="card-body">
              <p class="card-email text-center">{{contact.email}}</p>
              <p class="card-phone text-center">{{contact.phone}}</p>
            </div>
          </div>
          </div>

  </div>



