.card-header {
  background-color: #e60000;
  color: white;
}

.form-inline {
  justify-content: center;
  padding: 15px 0px;
  
}


::placeholder { 
  color: #e60000;
  opacity: 1; 
}

.card-columns {
padding:0px 280px ;
}

h1 {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
  
}

@media (max-width: 1200px){
  .card-columns {
    padding:20px  ;
    }

  }

  @media (max-width: 600px){
    .card-columns {
      padding:15px 80px; ;
      }

      h1 {
        display: flex;
        justify-content: center;
        padding: 15px 0px;
        
      }
  
    }