
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" >
            <img [routerLink]="['/contacts']" src="../../assets/vodafone-png-file-vodafone-2003-2007-png-2000.png" width="250" height="100" alt="">
          </a>
      
        <button class="navbar-toggler" type="button"
                (click)="toggleNavbar()">
          <span class="navbar-toggler-icon"></span>
        </button>
      
      
        <div class="collapse navbar-collapse"
             [ngClass]="{ 'show': navbarOpen }">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/registerform']">Add New Contact</a>
            </li>
          </ul>
        </div>
      </nav>





