 .btn-outline-success {
  color: #e60000 !important;
  border-color: #e60000 !important;
}

.btn-outline-success:hover {
  color: white !important;
  border-color: #e60000 !important;
  background-color: #e60000 !important;
}

img{
  cursor: pointer;
}

img:focus{
  outline: none;
}

.nav-link {
  color:#e60000 !important;
}

.nav-link:hover {
  color:white !important;
  background-color:#e60000 !important; 
}