<form #f="ngForm" (ngSubmit)="save(f.value)" >
<div class="form-group">
    <label for="name">Name</label>
    <input #name="ngModel" ngModel name="name" id="name" placeholder="Enter Name" type="text" class="form-control" required>
    <div class="alert alert-danger" *ngIf="name.touched && name.invalid">Name is required.</div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input #email="ngModel" ngModel name="email" id="email" placeholder="vodafone@example.com" type="email" class="form-control" required email>
    <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
      <div *ngIf="email.errors.required">Email is required.</div>
      <div *ngIf="email.errors.email">Email should be in correct format.</div>
      </div>
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input #phone="ngModel" ngModel name="phone" id="phone" type="tel" placeholder="**-***-****" class="form-control" pattern="[0-9]{2}-[0-9]{3}-[0-9]{4}" required>
    <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid">Phone is required.</div>
  </div>
  <div class="button">
      <button class="btn btn-primary">Add Contact</button>
  </div>  
</form>