form{
  padding:100px;
}

.btn {
  background-color: #e60000 !important;
  border-color: #e60000 !important;
}
.button{
  display: flex;
  justify-content: center;
}

@media (max-width: 600px){
  ::placeholder {
    font-size: 10px;
    }
  }