

<div class="container" >
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header text-center" >{{contact?.name}}</div>
        <div class="card-body">
            <p class="card-email text-center">{{contact?.email}}</p>
            <p class="card-phone text-center">{{contact?.phone}}</p>
          </div>
          <button class="btn btn-success" >Edit</button>
          <button class="btn btn-danger" (click)="deleteProduct(contact?.id)" >Delete</button>
      </div>

</div>
  
