.card-header {
  background-color: #e60000;
  color: white;
 
}

.container {
  display: flex;
  justify-content: center;
  padding: 150px 150px;
}

.btn-danger{

  background-color: #e60000;
}


@media (max-width: 1200px){
  .container {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
  }

  }
